.background {
    background: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.container-center {
    max-width: 900px;
    height: 100%;
    background-color: #fff;
    padding: 30px;
    margin: auto;
    overflow: auto;
    box-shadow: 0 0 50px #ccc;
}